node_modules/
package-lock.json
data/
toros_db/
import/
__pycache__/
*.swp
.firebase/
.env.local
private/
frontend/database.rules.json
frontend/firebase-debug.log
frontend/.firebase/toros-duo/functions/.env
